* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 10px 0;
    background-image: url('Imagens/fundo-topo.jpg');
}

header h1 {
    margin: 0;
    height: 84px;
}

nav {
    margin: 0;
    text-align: center;
    padding: 15px 0px;
}

nav li {
    display: inline;
    background-image: url('Imagens/patinha-preta.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
}

#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #6bd432;
}

.fundo-verde {
    background-color: #bdff9c;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.container .col {
    width: 430px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.produto {
    width: 235px;
}

.produto figure {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}

.produto figure img {
    vertical-align: middle;
}

.texto-centralizado {
    text-align: center;
}

.btn-pata {
    border:  1px solid #91e467;
    background-color: #d2fbbd;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.btn-pata:hover {
    background-color: #a7c796;
    color: #ffffff;
    transition: .5s;
}

form {
    width: 380px;
}

form input, form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: none;   
}

.send {
    margin-left: 150px;
}

.centrin {
    margin-left: 56px;
}


iframe{
    width: 100%;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

h3, .valor {
    text-align: center;
}

h4 {
    padding: 5px;
}

#produto .flex-container, #contato .flex-container {
    margin-top: 43px;
}

.imgs {
	transform: scale(1);
	transition: .3s ease-in-out;
    border-radius: 20px;
}

.imgs:hover {
	transform: scale(1.1);
}

footer{
    height: 100px;
    background-color: #bdff9c;
    text-align: center;
}
